h1{
    color: crimson;
    text-align: center;

}
body {

background-color: black;
color: aliceblue;
text-align: center;

}

button {
    color: black;
    background-color: darkgreen;
}